@use './responsive.scss';
.card{
    display: flex;
    gap: 20px;

    .imagecontainer{
        flex:2;
        height: 200px;

        @include responsive.sm{
            display: none ;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .textcontainer{
        flex:3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            width: 16px;
            height: 16px;
        }
        .title {
            font-size: 20px;
            font-weight: 600;
            color: #444;
            transition: all 0.4s ease;
            &:hover{
            color: #888;
            scale: 1.01;
        }
        }
        .address{
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #888;
        }
        .price{
            font-size: 20px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: gray;
            width: max-content;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            gap:10px;
        }
        .features{
            display: flex;
            gap: 20px;
            font-size: 14px;

            .feature{
                display: flex;
                align-items: center;
                gap: 5px;
                background-color:whitesmoke ;
                padding: 3px;
                border-radius: 5px;
            }
        }
        .icons{
                display: flex;
                gap: 20px;

                .icon{
                    display: flex;
                    border: 1px solid #999;
                    padding: 2px 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: #ccc;
                    }
                }
            }
    }
}