@use "./responsive";

.layout{

    height: 100vh;
    max-width: 1366px;
    margin-left:auto ;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

     @include responsive.lg{

        max-width: 1280px;
    }
    @include responsive.md{

        max-width: 768px;
    }
    @include responsive.sm{

        max-width: 640px;
    }
    .content{
        height: calc(100vh - 100px);
    }

}