@use './responsive.scss';

.slider{
     width: 100%;
     height: 350px;
     display: flex;
     gap: 20px;

     .fullslider{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
        .arrow{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50px;
                @include responsive.md{
                width: 30px;
            }
            @include responsive.sm{
                width: 20;
            }
                &.right{
                    transform:rotate(180deg);
                }
            }
        }
        .imgcontainer{
            flex: 10;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
         .close{
                position: absolute;
                top: 0;
                right: 0;
                color: white;
                font-size: 36px;
                font-weight: bold;
                padding:50px ;
                cursor: pointer;
            }
     }
    img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
     .bigimages{
        flex: 3;

     }
     .smallimage{
        display: flex;
        flex-direction: column;
        flex:1;
        justify-content: space-between;
        gap: 20px;
        height: 100px;
     }
}